.nav-rest{
  display: flex;
  width: 100%;
  ul{
    padding-left: 0;
    margin: auto;
    list-style-type: none;
  }
  a{
    text-decoration: none;
    display: inline-block;
    li{
      font-weight: bold;
      padding: 5px 10px;
      border:  solid 1px rgba(0, 0, 0, 0);
      color: #000;
      margin: 0 10px;
    }
  }

  li:hover{
    border: solid 1px black;
  }
}
.logo{
  background-color: black;
  border: none;
  a li{
    color: white;
    list-style-type: none;
    text-align: center;
  }
}
