// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  height: auto;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(181, 181, 181);
  margin: 0 0;
  padding: 0;
}

.highlights-container{
  display: flex;
  flex-direction: row;
  height: 95vh;
  display: flex;
  flex-direction: row;
  .highlight1{
    background-color: rgb(117, 117, 117);

    height: 100%;
    width: 55%;
    overflow: hidden;
    position: relative;
    .highlight{
      min-height: 100%;
      min-width: 1080px;
      filter: opacity(60%);
      margin-left: -30%;

    vertical-align: middle;

      /* Set up proportionate scaling */
      width: 100%;
      height: auto;


    }
    .htext{

      top: 55%;
      color: white;
      position: absolute;
      width: 100%;
      h1{
        padding-left: 30px;
        text-transform: uppercase;
        font-family: 'EuclidFlex Bold';
        letter-spacing: 4px;
        font-size: 40px;
        a{
          color: white;
          text-decoration: none;
        }
        a:hover{
          text-decoration: none;
          color: rgb(229, 230, 232);
        }
      }
      p{
        padding-top: 1em;
        padding-left: 30px;
        padding-right: 30px;
        font-family: 'EuclidFlex Light';
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.3em;
      }
    }
  }
  .subhighlights{
    background-color: rgb(153, 224, 151);
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    .subh1{
      background-color: rgb(117, 117, 117);
      width: 100%;
      height: 45%;
      overflow: hidden;
      position: relative;
      .highlight{
        min-height: 100%;
        min-width: 600px;
        margin-left: -10%;

        filter: opacity(60%);



      vertical-align: middle;

        /* Set up proportionate scaling */
        width: 110%;
        height: auto;

      }
      .htext{
        top: 37%;
        color: white;
        position: absolute;
        width: 100%;
        h1{
          padding-left: 30px;
          text-transform: uppercase;
          font-family: 'EuclidFlex Bold';
          letter-spacing: 4px;
          font-size: 35px;
          a{
            color: white;
            text-decoration: none;
          }
          a:hover{
            text-decoration: none;
            color: rgb(229, 230, 232);
          }
        }
        p{
          padding-top: 1em;
          padding-left: 30px;
          padding-right: 30px;
          font-family: 'EuclidFlex Light';
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 1.3em;
        }
      }
    }
    .subh2{
      background-color: rgb(117, 117, 117);
      width: 100%;
      height: 55%;
      overflow: hidden;
      position: relative;
      .highlight{
        min-height: 100%;
        min-width: 600px;
        margin-left: -10%;
        filter: opacity(70%);


      vertical-align: middle;

        /* Set up proportionate scaling */
        width: 110%;
        height: auto;

      }
      .htext{
        top: 40%;
        color: white;
        position: absolute;
        width: 100%;
        h1{
          padding-left: 30px;
          text-transform: uppercase;
          font-family: 'EuclidFlex Bold';
          letter-spacing: 4px;
          font-size: 35px;
          a{
            color: white;
            text-decoration: none;
          }
          a:hover{
            text-decoration: none;
            color: rgb(229, 230, 232);
          }
        }
        p{
          padding-top: 1em;
          padding-left: 30px;
          padding-right: 30px;
          font-family: 'EuclidFlex Light';
          font-size: 18px;
          letter-spacing: 2px;
          line-height: 1.3em;
        }
      }
    }
  }
}
.index-reports{
  background-image: url('https://s3.amazonaws.com/revista-production/app/FONDOS-02.png');
  background-size:contain;
  .cardrow1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card-report{
      display: flex;
      flex-direction: row;
      padding: 30px;
      width: 50%;
      .img-card{
        width: 50%;
        overflow: hidden;
        img{
          padding: 20px;
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .text-card{
        width: 50%;
        h1{
          font-size: 20px;
          font-family: 'EuclidFlex Bold';
          text-transform: uppercase;
          a{
            color: black;
          }
          a:hover{
            text-decoration: none;
            color: rgb(92, 92, 92);
          }
        }
      }
    }

  }

}
.report-container{
  .cover-container{
    position: relative;
    text-align: left;
    color: white;
    max-height: 95vh;
    overflow-y: hidden;
    background-color: rgb(126, 126, 126);
    .title-report{
      position: absolute;
      top: 90%;
      left: 55%;
      transform: translate(-55%, -90%);
      font-size: 5rem;
      font-family: 'EuclidFlex Bold';
      text-transform: uppercase;
      font-weight: bold;
      width: 60%;
    }
    img{
      width: 100%;
      filter: opacity(70%);
    }
  }
  .content-report{
    display: flex;
    flex-direction: row;
    background-image: url('FONDOS-02.png');
    background-size:contain;
    .side-sponsors{
      .side-author{
        color: white;
        padding-top: 15%;
        text-align: center;
      }
      .side-place{
        color: white;
        text-align: center;
      }
      width: 20%;
      max-height: 100vh;
      overflow-y: scroll;
    }
    .report-body{
      width: 80%;
      height: 100vh;
      .subtitletxt{
        font-family: 'EuclidFlex Bold';
        font-size: 15px;
        font-style: italic;
        width: 80%;
        margin: auto;
        margin-top: 30px;
        padding-top: 20px;
      }
      .report-text{
        max-height: 65vh;
        width: 80%;
        overflow-y: scroll;
        padding-left: 10%;
        margin-top: 30px;
        padding-top: 20px;
        border-left: 2px solid black;
      }
    }
  }

}
@media only screen and (max-width:725px) {
  .highlights-container{
    flex-direction: column!important;
    .highlight1{
      width: 100%!important;
      height: 380px;
      .highlight{
        width: 100%!important;
        min-width: 0!important;
        margin-left: 0!important;
      }
      .htext{
        top: 20%;
        h1{
          font-size: 1.7em;
          padding-left: 20px;
        }
        p{
          padding: 5px;
          padding-left: 20px!important;
          font-size: 1.5em;
        }
      }
    }
    .subhighlights{
      width: 100%;
      height: 740px;
      .subh1{
        width: 100%!important;
        height: auto!important;
        .highlight{
          width: 100%!important;
          min-width: 0!important;
          margin-left: 0!important;
        }
        .htext{
          top: 20%;
          h1{
            font-size: 1.7em;
            padding-left: 20px;
          }
          p{
            padding: 5px;
            padding-left: 20px!important;
            font-size: 1.5em;
          }
        }
      }
      .subh2{
        width: 100%!important;
        height: auto!important;
        .highlight{
          width: 100%!important;
          min-width: 0!important;
          margin-left: 0!important;
        }
        .htext{
          top: 20%;
          h1{
            font-size: 1.7em;
            padding-left: 20px;
          }
          p{
            padding: 5px;
            padding-left: 20px!important;
            font-size: 1.5em;
          }
        }
      }
    }
  }
  .cardrow1{
    flex-direction: column!important;
    .card-report{
      width: 100%!important;
      padding: 10px!important;
      .img-card{
        img{
          padding: 10px!important;
        }
      }
      .text-card{
        h1{
          font-size: 15px!important;
          margin-top: 9px;
        }
        p{
          font-size: 9px!important;
          line-height: 12px!important;
          margin-bottom: 0!important;
        }
        .lugarcito{
          font-size: 9px!important;
        }
        .author{
          font-size: 9px!important;
        }
      }
    }
  }
  .cover-container{
    .title-report{
      font-size: 2rem!important;
      margin-top: 0!important;
      width: 75%!important;
    }
  }
  .content-report{
    .side-sponsors{
      .side-author,.side-place{
        font-size: 9px!important;
      }
    }
    .report-body{
      .subtitletxt{
        padding-top: 0!important;
      }
    }
  }
}
