<div class="nav-home">
  <ul>
    <%= link_to reports_path do%>
    <li>NOTICIAS</li>
    <% end %>
    <%= link_to reviews_path do%>
    <li>REVIEWS</li>
    <% end %>
    <%= link_to artists_path do%>
    <li>ARTISTAS</li>
    <% end %>
    <%= link_to videos_path do%>
    <li>MANO A MANO</li>
    <% end %>
    <li class="icons-bar"><span class="glyphicon glyphicon-search"></span></li>
    <li class="icons-bar"><span class="glyphicon glyphicon-menu-hamburger"></span></li>
  </ul>
</div>
